body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(233, 188, 188);
}

#game-arena {
    background-color: rgb(205, 125, 125);
    width: 600px;
    height: 600px;
    margin-bottom: 20px;
    border: 2px solid black;
    position: relative;
}

#score-board {
    font-size: x-large;
    font-weight: bold;
    color: black;
    margin: 10px 0; 
}

.start-button {
    background-color: orange;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 15px;
    text-decoration: none;
}

.food {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    animation: blink 1s infinite;
}

@keyframes blink {
    50%{
        opacity: 0.5;
    }
}

.snake {
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    position: absolute;
    border-radius: 5px;
}